<!DOCTYPE html>
<html>
<head>
    <title>Product Search</title>
</head>
<body>
    <h1>{{ greeting }}</h1>
    <p>Please type something and hit Enter</p>
    <input type="search" 
        hx-validate="true"
        name="query" placeholder="Begin Typing To Search products..." 
        hx-post="/api/search" 
        hx-trigger="search" 
        hx-target="#search-results"
        style="width: 400px"
    >

    <table class="table" id="search-results">
    </table>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/htmx.min.js"></script>
</body>
</html>