<thead>
    <tr>
        <th>Product key</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    {% for result in search_results %}
    <tr>
        <td>{{ result.product_key }}</td>
        <td>{{ result.description }}</td>
    </tr>
    {% endfor %}
</tbody>